<div
  class="carousel-popup position-fixed top-0 start-0 w-100 min-vh-100 d-flex align-items-start justify-content-center bg-dark bg-opacity-25"
>
  <div
    class="guide-title-box bg-white rounded-3 shadow p-3 p-sm-4 mt-4 mt-sm-5 w-100 d-flex flex-column theme-purple"
    role="dialog"
    aria-modal="true"
    aria-labelledby="guideTitle"
  >
    <h2 id="guideTitle" class="h5 mb-3 text-center text-sm-start">
      {{ firstTitle }}
    </h2>

    <div
      id="carouselExampleIndicators"
      class="carousel slide carousel-fade d-flex flex-column flex-grow-1 overflow-auto"
      data-bs-ride="false"
      data-bs-interval="false"
    >
      <div
        class="carousel-inner d-flex flex-column overflow-auto overflow-x-hidden"
      >
        <!-- Slide 1 -->
        <div class="carousel-item active h-100">
          <div class="d-flex flex-column h-100">
            <div class="mb-4">
              <img
                src="../../assets/images/first-slide.svg"
                alt="guide-1"
                class="img-fluid d-block w-30 img-obj"
              />
            </div>

            <div class="d-flex align-items-center mb-3">
              <span
                class="count-circle d-inline-flex justify-content-center align-items-center rounded-circle bg-dark text-white border border-1 border-light fw-semibold me-2"
              >
                {{ firstTitleNo }}
              </span>
              <h1 class="fs-3 fw-light text-dark mb-0">
                {{ firstGuideTitle }}
              </h1>
            </div>
            <ul class="ms-3 ps-3 mb-2 ul-list">
              <li
                class="mb-2"
                *ngFor="let item of carouselItems"
                [innerHTML]="item"
              ></li>
            </ul>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item h-100">
          <div class="d-flex flex-column h-100">
            <div class="mb-4">
              <img
                src="../../assets/images/second-slide.svg"
                alt="guide-2"
                class="img-fluid d-block w-30 img-obj"
              />
            </div>

            <div class="d-flex align-items-start mb-2">
              <span
                class="count-circle d-inline-flex justify-content-center align-items-center rounded-circle bg-dark text-white border border-1 border-light fw-semibold me-2"
              >
                {{ secondTitleNo }}
              </span>
              <h1 class="fs-3 fw-light text-dark mb-0">
                {{ secondGuideTitle }}
              </h1>
            </div>

            <p class="mb-2">{{ secondGuideDescription }}</p>

            <div class="w-100">
              <ul class="d-flex flex-wrap gap-2 ps-0 mb-0 list-unstyled">
                <li
                  *ngFor="let img of secondListImages; let i = index"
                  class="d-inline-flex align-items-center gap-2 border rounded p-2"
                >
                  <i class="d-inline-flex">
                    <img
                      [src]="'assets/images/' + img"
                      [alt]="secondListItems[i]"
                      class="img-fluid"
                    />
                  </i>
                  <span class="fw-semibold text-capitalize small">{{
                    secondListItems[i]
                  }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item h-100">
          <div class="d-flex flex-column h-100">
            <div class="mb-4">
              <img
                src="../../assets/images/third-slide.svg"
                alt="guide-3"
                class="img-fluid d-block w-30 img-obj"
              />
            </div>

            <div class="d-flex align-items-center mb-2">
              <span
                class="count-circle d-inline-flex justify-content-center align-items-center rounded-circle bg-dark text-white border border-1 border-light fw-semibold me-2"
              >
                {{ thirdTitleNo }}
              </span>
              <h1 class="fs-3 fw-light text-dark mb-0">
                {{ thirdGuideTitle }}
              </h1>
            </div>

            <p class="mb-2">{{ thirdGuideDescription }}</p>

            <div class="row g-3">
              <div class="col-6" *ngIf="thirdPartOne">
                <strong class="d-block mb-2">{{ thirdPartOne }}</strong>
                <ul class="ms-3 ps-3 mb-0 ul-list">
                  <li
                    class="mb-1"
                    *ngFor="let item of thirdPartOneList"
                    [innerHTML]="item"
                  ></li>
                </ul>
              </div>
              <div class="col-6" *ngIf="thirdPartTwo">
                <strong class="d-block mb-2">{{ thirdPartTwo }}</strong>
                <ul class="ms-3 ps-3 mb-0 ul-list">
                  <li
                    class="mb-1"
                    *ngFor="let item of thirdPartTwoList"
                    [innerHTML]="item"
                  ></li>
                </ul>
              </div>
              <div class="col-6" *ngIf="thirdPartThree">
                <strong class="d-block mb-2">{{ thirdPartThree }}</strong>
                <ul class="ms-3 ps-3 mb-0 ul-list">
                  <li
                    class="mb-1"
                    *ngFor="let item of thirdPartThreeList"
                    [innerHTML]="item"
                  ></li>
                </ul>
              </div>
              <div class="col-6" *ngIf="thirdPartFour">
                <strong class="d-block mb-2">{{ thirdPartFour }}</strong>
                <ul class="ms-3 ps-3 mb-0 ul-list">
                  <li
                    class="mb-1"
                    *ngFor="let item of thirdPartFourList"
                    [innerHTML]="item"
                  ></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 4 -->
        <div class="carousel-item h-100">
          <div class="d-flex flex-column h-100">
            <div class="mb-4">
              <img
                src="../../assets/images/fourth-slide.svg"
                alt="guide-4"
                class="img-fluid d-block w-30 img-obj"
              />
            </div>

            <div class="d-flex align-items-center mb-2">
              <span
                class="count-circle d-inline-flex justify-content-center align-items-center rounded-circle bg-dark text-white border border-1 border-light fw-semibold me-2"
              >
                {{ fourthTitleNo }}
              </span>
              <h1 class="fs-3 fw-light text-dark mb-0">
                {{ fourthGuideTitle }}
              </h1>
            </div>

            <ul class="ms-3 ps-3 mb-2 ul-list">
              <li
                class="mb-1"
                *ngFor="let item of fourthListOne"
                [innerHTML]="item"
              ></li>
            </ul>

            <div>
              <strong class="d-block mb-2">{{ fourthDontWorry }}</strong>
              <ul class="ms-3 ps-3 mb-2 ul-list">
                <li
                  class="mb-1"
                  *ngFor="let item of fourthListTwo"
                  [innerHTML]="item"
                ></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div
        class="d-flex flex-column flex-md-row justify-content-between align-items-center mt-auto pt-3 flex-shrink-0"
      >
        <!-- Indicators -->
        <div
          id="carouselExampleIndicators"
          class="carousel slide indicator-styles"
        >
          <div class="carousel-indicators position-static m-0 gap-2 d-flex">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
          </div>
        </div>

        <!-- Actions -->
        <div class="d-flex align-items-center gap-2 flex-shrink-0">
          <button
            [hidden]="userComeFirstTime"
            (click)="getStarted()"
            class="btn btn-link p-0 text-decoration-none text-purple"
          >
            {{ letMeSkip }}
          </button>
          <button
            *ngIf="!isFirstSlide"
            id="carouselPrevBtn"
            class="btn btn-outline-primary previous-btn"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
            (click)="onCarouselSlide()"
          >
            {{ previous }}
          </button>

          <button
            *ngIf="!isLastSlideReached"
            (click)="onCarouselSlide()"
            id="carouselNextBtn"
            class="btn btn-primary next-start-btn"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            {{ next }}
          </button>

          <button
            *ngIf="isLastSlideReached"
            (click)="getStarted()"
            class="btn btn-primary next-start-btn"
          >
            {{ getStart }}
          </button>
        </div>
      </div>
      <!-- /Bottom controls -->
    </div>
  </div>
</div>
