<div class="popup-overlay">
  <div class="guide-container">
    <div
      id="carouselExampleIndicators"
      class="carousel slide carousel-fade popup-container"
    >
      <h2>{{ firstTitle }}</h2>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="guide-inner">
            <div class="guideimg">
              <img src="../../assets/images/guide-1.svg" alt="guide-1" />
            </div>
            <div class="guide-title">
              <span>{{ firstTitleNo }}</span>
              <h1>{{ firstGuideTitle }}</h1>
            </div>
            <ul class="guide-list">
              <li *ngFor="let item of carouselItems" [innerHTML]="item"></li>
            </ul>
          </div>
        </div>
        <div class="carousel-item">
          <div class="guide-inner">
            <div class="guideimg">
              <img src="../../assets/images/guide-2.svg" alt="guide-2" />
            </div>
            <div class="guide-title">
              <span>{{ secondTitleNo }}</span>
              <h1>
                {{ secondGuideTitle }}
              </h1>
            </div>
            <p>
              {{ secondGuideDescription }}
            </p>
            <div class="category-box">
              <!-- <ul>
                <li>
                  <i><img src="../../assets/images/title.svg" alt="title" /></i>
                  <span>Title</span>
                </li>
                <li>
                  <i
                    ><img
                      src="../../assets/images/problem-statement.svg"
                      alt="problem-statement"
                  /></i>
                  <span>Problem statement</span>
                </li>
                <li>
                  <i
                    ><img
                      src="../../assets/images/objective.svg"
                      alt="objective"
                  /></i>
                  <span>objective</span>
                </li>
                <li>
                  <i
                    ><img
                      src="../../assets/images/key-result.svg"
                      alt="key-result"
                  /></i>
                  <span>Key Result</span>
                </li>
                <li>
                  <i
                    ><img
                      src="../../assets/images/key-result.svg"
                      alt="key-result"
                  /></i>
                  <span>Key Feature</span>
                </li>
                <li>
                  <i
                    ><img src="../../assets/images/urgency.svg" alt="urgency"
                  /></i>
                  <span>Urgency</span>
                </li>
                <li>
                  <i
                    ><img
                      src="../../assets/images/area-involved.svg"
                      alt="area-involved"
                  /></i>
                  <span>area involved</span>
                </li>
                <li>
                  <i
                    ><img
                      src="../../assets/images/destination.svg"
                      alt="destination"
                  /></i>
                  <span>Destination 2027 alignment</span>
                </li>
                <li>
                  <i><img src="../../assets/images/risk.svg" alt="risk" /></i>
                  <span>Risks</span>
                </li>
              </ul> -->

              <ul class="guide-list">
                <li *ngFor="let img of secondListImages; let i = index">
                  <i>
                    <img
                      [src]="'assets/images/' + img"
                      [alt]="secondListItems[i]"
                    />
                  </i>
                  <span>{{ secondListItems[i] }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="guide-inner">
            <div class="guideimg">
              <img src="../../assets/images/guide-3.svg" alt="guide-3" />
            </div>
            <div class="guide-title">
              <span>{{ thirdTitleNo }}</span>
              <h1>{{ thirdGuideTitle }}</h1>
            </div>
            <p>
              {{ thirdGuideDescription }}
            </p>
            <div class="part-wrap">
              <div class="part-inner">
                <strong>{{ thirdPartOne }}</strong>
                <ul class="guide-list">
                  <li
                    *ngFor="let item of thirdPartOneList"
                    [innerHTML]="item"
                  ></li>
                </ul>
              </div>
              <div class="part-inner">
                <strong>{{ thirdPartTwo }}</strong>
                <ul class="guide-list">
                  <li
                    *ngFor="let item of thirdPartTwoList"
                    [innerHTML]="item"
                  ></li>
                </ul>
              </div>
              <div class="part-inner">
                <strong>{{ thirdPartThree }}</strong>
                <ul class="guide-list">
                  <li
                    *ngFor="let item of thirdPartThreeList"
                    [innerHTML]="item"
                  ></li>
                </ul>
              </div>
              <div class="part-inner">
                <strong>{{ thirdPartFour }}</strong>
                <ul class="guide-list">
                  <li
                    *ngFor="let item of thirdPartFourList"
                    [innerHTML]="item"
                  ></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="guide-inner">
            <div class="guideimg">
              <img src="../../assets/images/guide-4.svg" alt="guide-4" />
            </div>
            <div class="guide-title">
              <span>{{ fourthTitleNo }}</span>
              <h1>{{ fourthGuideTitle }}</h1>
            </div>
            <ul class="guide-list">
              <li *ngFor="let item of fourthListOne" [innerHTML]="item"></li>
            </ul>
            <div class="part-inner">
              <strong>{{ fourthDontWorry }}</strong>
              <ul class="guide-list">
                <li *ngFor="let item of fourthListTwo" [innerHTML]="item"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
      </div>
      <div class="carousel-control">
        <button
          [hidden]="userComeFirstTime"
          (click)="getStarted()"
          class="let-me-skip btn"
          type="button"
        >
          Let me skip
        </button>
        <button
          *ngIf="!isFirstSlide"
          (click)="onCarouselSlide()"
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          Previous
        </button>
        <button
          *ngIf="!isLastSlideReached"
          (click)="onCarouselSlide()"
          id="carouselNextBtn"
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          Next
        </button>
        <button
          *ngIf="isLastSlideReached"
          (click)="getStarted()"
          class="btn-primary"
          type="button"
        >
          Get started
        </button>
        <!-- <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">      
              Next
            </button> -->
      </div>
    </div>
  </div>
</div>
