.sidebar {
  width: 68px;
  transition: width 0.3s ease-in-out;
}
.sidebar.collapsed {
  width: 260px;
}

.logo-toggle-wrap {
  justify-content: center;
}
.sidebar.collapsed .logo-toggle-wrap {
  justify-content: space-between;
}

.sidebar .nav-item {
  color: #334155;
  font-family: "Saans-SemiBold", system-ui, -apple-system, Segoe UI, Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
}
.sidebar .nav-item:hover {
  background: #f1f5f9;
}

/* Styling for no drafts message */
.no-drafts-item {
  background: #f1f5f9 !important;
  color: #334155 !important;
  font-family: "Saans-SemiBold", system-ui, -apple-system, Segoe UI, Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji" !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.sidebar .nav-item.active,
.recent-tabs li.active {
  background: #eeeafd !important;
  color: #6d28d9 !important;
}
.nav-item.active i svg path {
  stroke: #6d28d9;
}

.logo span {
  display: none;
  color: #8f53f0;
}
.sidebar.collapsed .logo span {
  display: inline-block;
}

.toggle-btn2 {
  display: none;
  width: 60px;
}
.sidebar.collapsed .toggle-btn2 {
  display: block;
}
.toggle-btn {
  display: block;
}
.sidebar.collapsed .toggle-btn {
  display: none;
}
.logo-icon {
  max-height: 36px;
}
.display-title{
  max-width: 226px;
}
.delete-ul{
  top: 32px; width: 166px
}

@media (max-width: 1024px) and (min-width: 768px) {
  .sidebar.collapsed {
    width: 132px;
  }
}