.btn-custom {
  border: 1px solid #8F53F0;  
  background: #fff;           
  color: #8F53F0;              
  font-size: 12px;             
  border-radius: 4px;          
  transition: all 0.3s ease;   
}

.btn-custom:hover {
  background: #F1F5F9;         
  color: #9747FF;             
  border: 1px solid #9747FF; 
}
