<div class="user-detail-wrapper"> 
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" (click)="activeTab = 'summary'">{{ staticText.summary }}</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" (click)="activeTab = 'idea'; chatDetail()">{{ staticText.idea }}</button>    
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
    
      <div class="user-detail-inner"> 
        <!-- Information Banner -->
        <div class="changes-guide">
          <i class="bi bi-info-circle-fill"></i> {{ staticText.wish }} <strong><a href="#">{{ staticText.changes }}</a></strong>{{ staticText.updated }}
          <strong><a href="#">{{ staticText.ada }}</a></strong>{{ staticText.team }}
        </div>  
        <!-- Request Details Section -->
        <div class="req-dtl-table">
          <div class="row">
            <div class="col-md-6">
              <div class="req-dtl-cont"> 
                <i class="bi bi-check-circle-fill"></i>
              <h5> {{ staticText.canvas }} </h5>
              <p class="text-muted">{{ requestDetails?.Ideatitle }}</p>
              </div>
              <div class="req-dtl-cont"> 
              <i><img src="../../assets/images/step-icon.svg" alt="step-icon"/> </i>
              <h5> {{ staticText.review }} </h5>
              <p class="text-muted">{{ staticText.reviewText }}</p>
              </div>
              <div class="req-dtl-cont"> 
              <i><span class="number-series">3</span></i>
              <h5> {{ staticText.feedback }} </h5>
              <p class="text-muted">{{ staticText.feedbackText }}</p>
              </div>
              <div class="req-dtl-cont"> 
                <i><span class="number-series">4</span></i>
              <h5> {{ staticText.accepted }} </h5>
              <p class="text-muted">{{ staticText.acceptedText }}</p>
                </div>
            </div>  
            <!-- Request Details Table -->
            <div class="col-md-6">         
              <table class="table">
                <tr>
                  <td><span>{{ staticText.request }}</span></td>
                  <td><a href="#">{{ requestDetails?.Requestnumber }}</a></td>
                </tr>
                <tr>
                  <td><span>{{ staticText.status }}</span></td>
                  <td>
                    <span class="badge" 
                      [ngClass]="{
                        'bg-primary': requestDetails?.Status === 'Pending_review' || requestDetails?.Status === 'Pending-review',
                        'bg-warning': requestDetails?.Status === 'Feedback',
                        'bg-success': requestDetails?.Status === 'Approved'
                      }">
                      {{ requestDetails?.Status }}
                    </span>
                  </td>
                </tr>
                <tr>
                  <td><span>{{ staticText.date }}</span></td>
                  <td><strong>{{ requestDetails?.Submitteddate }}</strong></td>
                </tr>
                <tr>
                  <td><span>{{ staticText.last }}</span></td>
                  <td><strong>{{ requestDetails?.Lastupdated }}</strong></td>
                </tr>
                <tr>
                  <td><span>{{ staticText.completedQuestions }}</span></td>
                  <td><strong>{{ requestDetails?.Totalnoofquestionscompleted }}</strong></td>
                </tr>
                <tr>
                  <td><span>{{ staticText.comments }}</span></td>
                  <td><strong>0</strong></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
    <app-history  *ngIf="activeTab === 'idea'"></app-history>
  </div>
  
</div>


