<div
  class="container-fluid min-vh-95 d-flex flex-column py-2"
  *ngIf="!userComeFirstTime"
>
  <div id="rowBox" class="d-flex flex-wrap">
    <div id="leftBox" class="lbox p-2 flex-fill col-12 col-md-6 col-lg-6">
      <h1 class="headingClass px-2 px-sm-3">
        {{ staticText.covertional }}
      </h1>

      <div class="chat-outer-wrap position-relative d-flex flex-column">
        <div
          class="chat-container d-flex flex-column p-sm-3 overflow-auto"
          #chatContainerBox
        >
          <ng-container *ngFor="let message of chatHistory; let i = index">
            <div *ngIf="message.sender === 'user'" class="w-100">
              <div
                *ngIf="message.isFile == true"
                class="file-info file-info-inside d-flex align-items-center gap-2 ms-auto"
              >
                <div class="file-icon">
                  <img [src]="fileIcon" alt="file icon" />
                </div>
                <div class="file-name">
                  <span class="fw-semibold text-truncate d-inline-block">{{
                    uploadFileName
                  }}</span>
                  <p class="mb-0 small">{{ fileExtension }}</p>
                </div>
              </div>

              <span
                class="user-text d-inline-block bg-white p-2 rounded-2 mb-2 shadow-xxs float-end"
                *ngIf="message.isFile == false"
              >
                <span class="fw-semibold fs-12 text-dark text-wrap">{{
                  message.text
                }}</span>
              </span>
              <div class="clearfix"></div>
            </div>

            <div *ngIf="message.sender === 'bot'" class="w-100">
              <div class="user-input" *ngIf="isString(message.text)">
                <span class="me-3"
                  ><img src="../../assets/images/moji.svg" />
                </span>
                <p>{{ message.text }}</p>
              </div>
              <div
                class="user-input"
                *ngIf="
                  !isString(message.text) &&
                  !message.followingText &&
                  (message.staticBotMessage == false ||
                    message.staticBotMessage == undefined ||
                    message.staticBotMessage == null)
                "
              >
                <span class="me-3"
                  ><img src="../../assets/images/moji.svg" />
                </span>
                <p>{{ message.text.question }}</p>
              </div>

              <div *ngIf="!isString(message.text) && !message.followingText">
                <div
                  class="bg-white guideboxms rounded p-2 p-sm-3 mb-2 ms-0 ms-sm-5 shadow-sm"
                >
                  <button
                    class="border rounded-1 px-2 py-1 mb-2 fw-semibold fs-12 guidance-text"
                  >
                    {{ staticText.guidanceText }}
                  </button>

                  <p
                    *ngIf="message.staticBotMessage"
                    class="mb-3 fw-semibold fs-12"
                  >
                    {{ message.text.question }}
                  </p>

                  <ul class="mb-0 ps-3 ps-sm-4 guideline-message">
                    <li
                      *ngFor="let text of message.text.guidelines"
                      class="mb-1 fs-12 lh-sm text-dark"
                      [innerHTML]="text"
                    ></li>
                  </ul>
                </div>
              </div>

              <div
                class="following-ways guideboxms bg-white p-2 p-sm-3 rounded mb-2 ms-0 ms-sm-5 shadow-xxs"
                *ngIf="message.followingText"
              >
                <p class="mb-2">{{ message?.followingText?.question }}</p>
                <ul class="list-unstyled mb-0">
                  <li class="d-flex align-items-center gap-2 mb-2">
                    <i><img src="../../assets/images/edit.svg" alt="" /></i>
                    <span>{{ message?.followingText?.hints[0] }}</span>
                  </li>
                  <li class="d-flex align-items-center gap-2 mb-2">
                    <i><img src="../../assets/images/attach.svg" alt="" /></i>
                    <span>{{ message?.followingText?.hints[1] }}</span>
                  </li>
                  <li class="d-flex align-items-center gap-2">
                    <i><img src="../../assets/images/mic.svg" alt="" /></i>
                    <span>{{ message?.followingText?.hints[2] }}</span>
                  </li>
                </ul>
              </div>

              <div
                class="user-order d-flex flex-wrap gap-2 mb-2 ps-0 ps-sm-5"
                *ngIf="message?.button?.length > 0"
              >
                <ng-container
                  *ngIf="
                    message.fieldName === 'Timelines' ||
                      message.fieldName === 'Portfolio alignment';
                    else yesNo
                  "
                >
                  <button
                    class="btn btn-outline-secondary btn-sm"
                    *ngFor="let button of message.button; let j = index"
                    (click)="timeLiButton(message.button[j])"
                  >
                    {{ button }}
                  </button>
                </ng-container>
                <ng-template #yesNo>
                  <button
                    class="btn btn-outline-secondary btn-sm"
                    *ngFor="let button of message.button; let j = index"
                    [ngClass]="{ 'active-class': selectedIndexOfButton == j }"
                    (click)="yesNoButton(message.button[j])"
                  >
                    {{ button }}
                  </button>
                </ng-template>
              </div>

              <div
                class="user-order mb-2 ps-0 ps-sm-5"
                *ngIf="message?.mappingButton?.length > 0"
              >
                <div *ngIf="message.fieldName == 'Business sponsor'">
                  <div class="d-flex flex-wrap gap-2 mb-2">
                    <button
                      class="btn btn-outline-secondary btn-sm"
                      *ngFor="
                        let button of message.mappingButton;
                        let j = index
                      "
                      [ngClass]="{ 'active-class': selectedIndexOfButton == j }"
                      (click)="
                        businessMappingButtonClicked(message.mappingButton[j])
                      "
                    >
                      {{ button }}
                    </button>
                  </div>
                  <div
                    *ngIf="bussinessMappingButtonClicke"
                    class="mt-2 d-flex align-items-center gap-2 flex-wrap"
                  >
                    <input
                      type="text"
                      class="form-control form-control-sm w-auto"
                      [(ngModel)]="bussinessUserInputForMappingButtons"
                      placeholder="Enter user first and last name"
                    />
                    <button
                      class="btn btn-primary btn-sm"
                      [disabled]="!bussinessUserInputForMappingButtons"
                      (click)="businessConfirmButton()"
                    >
                      {{ staticText.confirmText }}
                    </button>
                  </div>
                </div>

                <div *ngIf="message.fieldName == 'IT sponsor'">
                  <div class="d-flex flex-wrap gap-2 mb-2">
                    <button
                      class="btn btn-outline-secondary btn-sm"
                      *ngFor="
                        let button of message.mappingButton;
                        let j = index
                      "
                      [ngClass]="{ 'active-class': selectedIndexOfButton == j }"
                      (click)="itMappingButtonClicked(message.mappingButton[j])"
                    >
                      {{ button }}
                    </button>
                  </div>
                  <div
                    *ngIf="itMappingButtonClicke"
                    class="mt-2 d-flex align-items-center gap-2 flex-wrap"
                  >
                    <input
                      type="text"
                      class="form-control form-control-sm w-auto"
                      [(ngModel)]="itUserInputForMappingButtons"
                      placeholder="Enter user first and last name"
                    />
                    <button
                      class="btn btn-primary btn-sm"
                      [disabled]="!itUserInputForMappingButtons"
                      (click)="itConfirmButton()"
                    >
                      {{ staticText.confirmText }}
                    </button>
                  </div>
                </div>
              </div>

              <div
                class="multi-select-box mb-2 ps-0 ps-sm-5"
                *ngIf="message?.dropdown?.length > 0"
              >
                <div *ngIf="message.fieldName == 'Areas involved'">
                  <div class="d-flex flex-wrap">
                    <mat-checkbox
                      class="me-3 mb-2"
                      [disabled]="confirmBtnOfAreaClk"
                      *ngFor="let region of message.dropdown; let j = index"
                      [(ngModel)]="selectedAreas[j]"
                    >
                      <span>{{ region }}</span>
                    </mat-checkbox>
                  </div>
                  <button
                    mat-raised-button
                    color="primary"
                    [hidden]="confirmBtnOfAreaClk"
                    (click)="onConfirmAreas()"
                  >
                    {{ staticText.confirmText }}
                  </button>
                </div>

                <div *ngIf="message.fieldName == 'Destination 2027 alignment'">
                  <div class="d-flex flex-wrap">
                    <mat-checkbox
                      class="me-3 mb-2"
                      [disabled]="confirmBtnOfDestClk"
                      *ngFor="let region of message.dropdown; let j = index"
                      [(ngModel)]="selectedDestination[j]"
                    >
                      {{ region }}
                    </mat-checkbox>
                  </div>
                  <button
                    mat-raised-button
                    color="primary"
                    [hidden]="confirmBtnOfDestClk"
                    (click)="onConfirmDestination()"
                  >
                    {{ staticText.confirmText }}
                  </button>
                </div>

                <div *ngIf="message.fieldName == 'Business case impacts'">
                  <div class="d-flex flex-wrap">
                    <mat-checkbox
                      class="me-3 mb-2"
                      [disabled]="confirmBtnOfBussClk"
                      *ngFor="let region of message.dropdown; let j = index"
                      [(ngModel)]="selectedBussiness[j]"
                    >
                      {{ region }}
                    </mat-checkbox>
                  </div>
                  <button
                    mat-raised-button
                    color="primary"
                    [hidden]="confirmBtnOfBussClk"
                    (click)="onConfirmBussiness()"
                  >
                    {{ staticText.confirmText }}
                  </button>
                </div>
              </div>
            </div>
          </ng-container>

          <div *ngIf="loader" class="loader-wrap">
            <div class="loader"></div>
          </div>
        </div>

        <div
          id="textArDiv"
          class="send-input-wrap mx-0"
         [ngStyle]="{ 'margin-bottom': isMobile ? '20px' : '-20px' }"
        >
          <div *ngIf="selectedFile" class="file-info">
            <div class="file-icon">
              <img [src]="fileIcon" alt="file icon" />
            </div>
            <div class="file-name">
              <span> {{ selectedFile.name }}</span>
              <p>{{ fileExtension }}</p>
            </div>
            <button (click)="removeFile()" class="remove-btn">
              <i class="bi bi-x"></i>
            </button>
          </div>
          <textarea
            #autoResizeTextarea
            (keydown)="onKeyDown($event)"
            (blur)="onBlur()"
            (focus)="onFocus()"
            (input)="onInput()"
            name=""
            rows="1"
            [(ngModel)]="userInput"
            placeholder="Reply to ADA"
            id="textAFie"
          ></textarea>
          <input
            type="file"
            (change)="onFileSelected($event)"
            #fileInput
            hidden
          />

          <div class="send-attach-btns">
            <button
              data-bs-toggle="tooltip"
              data-bs-trigger="hover focus"
              data-tooltip-id="upload-icon"
              data-placement="right"
              title="Upload files (max 20mb each)"
              (click)="fileInput.click()"
              [disabled]="uploadFileFirstTime"
              class="btn"
            >
              <i
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M14.1015 7.26634L8.09108 13.2768C6.72425 14.6436 4.50817 14.6436 3.14134 13.2768C1.7745 11.9099 1.7745 9.69384 3.14134 8.327L9.15174 2.3166C10.063 1.40537 11.5404 1.40537 12.4516 2.3166C13.3628 3.22782 13.3628 4.7052 12.4516 5.61643L6.67687 11.3911C6.22126 11.8467 5.48257 11.8467 5.02695 11.3911C4.57134 10.9355 4.57134 10.1968 5.02695 9.74122L10.0946 4.67362"
                    stroke="#8F53F0"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </i>
            </button>
            <button
              data-bs-toggle="tooltip"
              data-placement="right"
              title="Use voice mode"
              (click)="startListening()"
              class="btn"
            >
              <i>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M12.6666 6.66659V7.99992C12.6666 10.5772 10.5773 12.6666 7.99998 12.6666M3.33331 6.66659V7.99992C3.33331 10.5772 5.42265 12.6666 7.99998 12.6666M7.99998 12.6666V14.6666M5.33331 14.6666H10.6666M7.99998 9.99992C6.89541 9.99992 5.99998 9.10449 5.99998 7.99992V3.33325C5.99998 2.22868 6.89541 1.33325 7.99998 1.33325C9.10455 1.33325 9.99998 2.22868 9.99998 3.33325V7.99992C9.99998 9.10449 9.10455 9.99992 7.99998 9.99992Z"
                    stroke="#8F53F0"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </i>
            </button>
            <button
              data-bs-toggle="tooltip"
              data-placement="right"
              title="Reply"
              id="textAbut"
              class="btn"
              [hidden]="!userInput && !selectedFile"
              [disabled]="!userInput && !selectedFile"
              (click)="handleUserInput(userInput)"
            >
              <i>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M7.00028 8.0001H3.33362M3.27718 8.19444L1.72057 12.8442C1.59828 13.2095 1.53713 13.3922 1.58101 13.5047C1.61912 13.6023 1.70096 13.6764 1.80195 13.7046C1.91824 13.737 2.09388 13.658 2.44517 13.4999L13.5862 8.48647C13.929 8.33217 14.1005 8.25502 14.1535 8.14784C14.1995 8.05473 14.1995 7.94548 14.1535 7.85237C14.1005 7.74519 13.929 7.66805 13.5862 7.51375L2.44129 2.49859C2.09106 2.34098 1.91595 2.26218 1.79977 2.29451C1.69888 2.32258 1.61704 2.39644 1.57881 2.49393C1.53478 2.6062 1.59527 2.78845 1.71625 3.15295L3.27761 7.85712C3.29839 7.91973 3.30878 7.95103 3.31288 7.98304C3.31652 8.01145 3.31649 8.04021 3.31277 8.06861C3.30859 8.10061 3.29812 8.13189 3.27718 8.19444Z"
                    stroke="#8F53F0"
                    stroke-width="1.46667"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="rightBox" class="rbox p-2 flex-fill col-12 col-md-6 col-lg-6" 
     [ngStyle]="{ 'margin-top': isMobile ? '48px' : '0px' }">
      <div
        class="fielsReq d-flex flex-column p-3"
        [ngClass]="isActive ? 'h-75' : 'h-100'"
      >
        <div class="row g-2 align-items-center">
          <div class="" [ngClass]="isActive ? 'col-12' : 'col-md-8 '">
            <p
              class="headingClass d-flex align-items-center gap-2 mb-0"
              (click)="toggleButton()"
            >
              <i
                #tooltipRef
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Collapse"
                class="business-idea-ic mb-3"
              >
                <img src="../../assets/images/business.svg" alt="business" />
              </i>
              <span>{{ staticText.yourIdeaTitle }}</span>
            </p>
          </div>

          <div
            class="d-flex flex-column align-items-start align-items-md-end mt-2 mt-md-0"
            [ngClass]="isActive ? 'col-12' : 'col-md-4'"
          >
            <div class="progress w-100 mt-1 mb-1 d-md-none progress-bar-level">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                [style.width.%]="progressPercentage"
                [attr.aria-valuenow]="progressPercentage"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>

            <div
              class="progress mt-1 mb-1 d-none d-md-block progress-inner-bar"
            >
              <div
                class="progress-bar bg-success"
                role="progressbar"
                [style.width.%]="progressPercentage"
                [attr.aria-valuenow]="progressPercentage"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>

            <h6
              class="fw-semibold fs-12 lh-1362 mb-0 text-start text-md-end"
              [ngClass]="isActive ? 'h-75 me-3' : 'h-100'"
            >
              <ng-container *ngIf="isActive; else simpleProgress">
                <span>{{ progressPercentage }}%</span>
              </ng-container>

              <ng-template #simpleProgress>
                <span>{{ staticText.Progress }}</span> {{ progressPercentage }}%
                <span>{{ staticText.complete }}</span>
              </ng-template>
            </h6>
          </div>
        </div>

        <div class="form-container mt-3 overflow-auto form-height">
          <div
            class="req-fld-wrap d-flex justify-content-between align-items-center"
          >
            <h6 class="mb-0">{{ staticText.required }}</h6>
            <button
              [hidden]="allFieldssLookGoodButton"
              (click)="AllGoodButton()"
              class="btn add-btn"
            >
              {{ staticText.AllGoodButton }}
            </button>
          </div>

          <div
            *ngFor="let field of fields; let i = index"
            class="field-container"
            [ngClass]="{ 'grey-bg': field.value == '', 'risk-box': i === 8 }"
          >
            <div class="field-outer-box">
              <div class="iconNumbermargin me-2 me-sm-3">
                <div
                  *ngIf="
                    field.value == '' ||
                    field.value == staticText.ADA_STATIC_TEXT
                  "
                  class="number-series"
                >
                  {{ i + 1 }}
                </div>
                <i *ngIf="field.completed"
                  ><img
                    src="../../assets/images/step-badge2.svg"
                    alt="step-badge2"
                /></i>
                <i
                  *ngIf="
                    field.value !== '' &&
                    !field.completed &&
                    field.value !== staticText.ADA_STATIC_TEXT
                  "
                  ><img
                    src="../../assets/images/step-badge.svg"
                    alt="step-badge"
                /></i>
              </div>

              <div class="field-head-wrap w-100">
                <span class="fld-img-wrap"
                  ><img [src]="field.image" alt="icon"
                /></span>
                <div class="field-text-wrap w-100 position-relative">
                  <div>
                    <label class="fw-bold ms-1 field_div">
                      {{ field.label }}
                      <i
                        class="bi bi-info-circle"
                        data-bs-toggle="tooltip"
                        data-bs-placement="right"
                        [title]="field.tooltip"
                      ></i>
                    </label>
                    <div
                      *ngIf="
                        field.value !== '' &&
                        field.value !== staticText.ADA_STATIC_TEXT &&
                        field.label !== 'Additional attachments'
                      "
                      class="edit-fields position-absolute top-0 end-0"
                    >
                      <i *ngIf="field.completed == true"
                        ><img
                          src="../../assets/images/history.svg"
                          (click)="checkButton(i)"
                          alt="history"
                      /></i>
                      <i
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Edit"
                        ><img
                          src="../../assets/images/edit-btn.svg"
                          (click)="editButton(i)"
                          alt="edit-btn"
                      /></i>
                      <i
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Confirm"
                        *ngIf="field.completed == false"
                        ><img
                          src="../../assets/images/chk-btn.svg"
                          (click)="checkButton(i)"
                          alt="chk-btn"
                      /></i>
                    </div>
                  </div>

                  <div>
                    <p
                      *ngIf="
                        field.value == '' &&
                        field.label !== 'Additional attachments'
                      "
                      class="notFilledYet notFilledYetText mb-0"
                    >
                      {{ staticText.notFilled }}
                    </p>

                    <p
                      *ngIf="field.value !== ''"
                      class="filled"
                      [ngClass]="{
                        'red-text': field.value == staticText.ADA_STATIC_TEXT
                      }"
                    >
                      {{ field.value }}
                    </p>

                    <input
                      type="file"
                      (change)="onFileAttach($event)"
                      #fileInputAttach
                      hidden
                    />
                    <button
                      [hidden]="uploadFileFirstTime"
                      *ngIf="
                        field.value == '' &&
                        field.label == 'Additional attachments'
                      "
                      (click)="fileInputAttach.click()"
                      class="btn choose-file px-1"
                    >
                      <span class="notFilledYetText">
                        {{ staticText.drag }}</span
                      ><span class="choose-span">{{ staticText.choose }}</span>
                    </button>

                    <div
                      *ngIf="
                        uploadFileName &&
                        field.label == 'Additional attachments'
                      "
                      class="file-info"
                    >
                      <div class="file-icon">
                        <img [src]="fileIcon" alt="file icon" />
                      </div>
                      <div class="file-name">
                        <span
                          class="text-truncate d-inline-block"
                          [title]="uploadFileName"
                          >{{ uploadFileName }}</span
                        >
                        <p>{{ fileExtension }}</p>
                      </div>
                      <div class="down-del-wrap dropdown ms-auto">
                        <i
                          class="bi bi-three-dots-vertical"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                          role="button"
                        ></i>
                        <ul class="dropdown-menu dropdown-menu-end">
                          <li>
                            <button
                              class="dropdown-item d-flex align-items-center gap-2"
                              (click)="downloadFileFromChat()"
                            >
                              <img
                                src="../../assets/images/down.svg"
                                alt=""
                              />{{ staticText.download }}
                            </button>
                          </li>
                          <li class="disabled-delete">
                            <button
                              class="dropdown-item d-flex align-items-center gap-2"
                              disabled
                            >
                              <img src="../../assets/images/del.svg" alt="" />{{
                                staticText.delete
                              }}
                            </button>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div
                      *ngIf="
                        fileUploadFromAttachment &&
                        field.label == 'Additional attachments'
                      "
                      class="file-info"
                    >
                      <div class="file-icon">
                        <img [src]="fileIcon" alt="file icon" />
                      </div>
                      <div class="file-name">
                        <span
                          class="text-truncate d-inline-block"
                          [title]="fileUploadFromAttachment.name"
                        >
                          {{ fileUploadFromAttachment.name }}
                        </span>
                        <p>{{ addfileExtension }}</p>
                      </div>
                      <div class="down-del-wrap dropdown ms-auto">
                        <i
                          class="bi bi-three-dots-vertical"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                          role="button"
                        ></i>
                        <ul class="dropdown-menu dropdown-menu-end">
                          <li>
                            <button
                              class="dropdown-item d-flex align-items-center gap-2"
                              (click)="downloadFileFromAdditional()"
                            >
                              <img
                                src="../../assets/images/down.svg"
                                alt=""
                              />{{ staticText.download }}
                            </button>
                          </li>
                          <li>
                            <button
                              class="dropdown-item d-flex align-items-center gap-2"
                              (click)="deleteAttachment()"
                            >
                              <img src="../../assets/images/del.svg" alt="" />{{
                                staticText.delete
                              }}
                            </button>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div
                      *ngIf="
                        field.value == staticText.ADA_STATIC_TEXT ||
                        (field.label == 'Additional comments' &&
                          isAdditionalCommentsEmpty &&
                          botRespondedFirstTime)
                      "
                    >
                      <button class="btn add-btn" (click)="addButton(i)">
                        {{ staticText.add }}
                      </button>
                    </div>

                    <span
                      *ngIf="
                        field.value !== '' &&
                        !field.completed &&
                        field.value !== staticText.ADA_STATIC_TEXT &&
                        field.label !== 'Areas involved' &&
                        field.label !== 'Additional attachments' &&
                        field.label !== 'Destination 2027 alignment' &&
                        field.label !== 'Timelines' &&
                        field.label !== 'Business sponsor' &&
                        field.label !== 'Additional comments' &&
                        field.label !== 'Business case impacts' &&
                        field.label !== 'Portfolio alignment' &&
                        field.label !== 'IT sponsor'
                      "
                      class="not-final-content d-block"
                    >
                      {{ staticText.finalContent }}
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="i === 8" class="static-content">
              <p>{{ staticText.additional }}</p>
            </div>
          </div>
        </div>

        <!-- Submit bar -->
        <div class="subnit-btn p-2 bg-white">
          <button
            class="btn btn-purple"
            [disabled]="buttonDisabled"
            (click)="submitButton()"
          >
            {{ staticText.submit }}
          </button>
        </div>

        <div *ngIf="errorDivVisible" class="validation-msg warning">
          <i class="bi bi-exclamation-triangle"></i>
          <span>{{ errorDivText }}</span>
          <button
            type="button"
            class="close-alert"
            (click)="errorDivCloseInstant()"
          >
            <i class="bi bi-x"></i>
          </button>
        </div>
        <div *ngIf="successDivVisible" class="validation-msg success">
          <i class="bi bi-check-circle"></i>
          <span>{{ successDivText }}</span>
          <button
            type="button"
            class="close-alert"
            (click)="successDivCloseInstant()"
          >
            <i class="bi bi-x"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade confirm-dialoge"
    id="reviewModal"
    tabindex="-1"
    aria-labelledby="reviewModalLabel"
    aria-hidden="true"
    #reviewModal
  >
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="reviewModalLabel">
            {{ staticText.review }}
          </h2>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">{{ staticText.reviewDetail }}</div>
        <div class="modal-footer justify-content-between">
          <button
            type="button"
            class="btn add-btn"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            {{ staticText.CANCEL }}
          </button>
          <div class="d-flex gap-2">
            <button
              type="button"
              class="btn add-btn"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              {{ staticText.edit }}
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              aria-label="Close"
              (click)="submitButtonPopup()"
            >
              {{ staticText.submit }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-carousel
  *ngIf="userComeFirstTime"
  (hideParent)="hideCrousel()"
></app-carousel>
